{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Royalstate Ins.</title>
</head>
<body>

    <nav class="navbar side_navbar">
        <wrapper class="navbar_container side_nav_container">
            <a href="#" class="navbar_logo">
                <img src={Logo} alt="" />
            </a>
            <a href="#" class='brand_link'>
                <span class="brand_name">Royalstate</span>
            </a>
            
            <ul class="navbar_links">
                 <li  class="closebar">
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
                    </a>
                 </li>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Pricing</a>
                </li>
                <li>
                    <a href="#">How to set-up</a>
                </li>
                <li>
                    <a href="" class="button-outline side_navbar_btn">
                        Log In
                    </a>
                </li>
                <li>
                    <a href="" class="button-primary side_navbar_btn">
                        Sign Up
                    </a>
                </li>
            </ul>
            <a href="" class="button-outline navbar_btn_out">
                Log In
            </a>
            <a href="" class="button-primary navbar_btn_out">
                Sign Up
            </a>
            <div class='navbar_menubar'>
                <FaBars />
            </div>
        </wrapper>
    </nav>
<!---END OF NAVE BAR-->


<section className="hero">
    <div className="hero_left">
        <h1 className="h1">
            Every business is as good as its tools.
        </h1>
        <div className="hero_btn-container">
            <a href="#" className="button-outline">
                How it works
            </a>
            <a href="#" className="button-primary button_1">
                Get Started for free 
            </a>
        </div>
    </div>
    <div className="hero_right">
        <div className="img_container">
            <img src={img_5} alt="" />
        </div>
    </div>
</section>

<!--Hero section-->
<section class="hero">
    <div class="hero_left">
        <h1 class="h1">
            Every business is as good as its tools.
        </h1>
        <div class="hero_btn-container">
            <a href="#" class="button-outline">
                How it works
            </a>
            <a href="#" class="button-primary button_1">
                Get Started for free 
            </a>
        </div>
    </div>
    <div class="hero_right">
        <div class="img_container">
            <img src="https://cdn.pixabay.com/photo/2017/01/18/23/50/insurance-1991216_640.jpg" alt="" />
        </div>
    </div>
</section>
<!--END OF FIRST HERO SECTION-->
</body>
</html>